.navigation {
    display: flex;
    align-items: center;
  
}

.nav-bar {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 57px;
    font-size: 24px;
    li {
        color: #FF6060;
        
    }
}

body {
    margin-top: 45px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Montserrat', sans-serif;
}

a, a:link, a:visited, a:focus, a:hover, a:active{
    text-decoration:none;
  }

.Footer {
    display: flex;
    background-color: black;
    align-items: center;
    height: 209px;
    flex-direction: column;
    width: calc(100% + 200px);
    margin: 0px -100px 0px -100px;
}

.footer-text {
    color: white;
    margin-top: 28.56px;
    font-size: 24px;
}

.Footer img {
    padding-top: 66px;
}

.erreurImage {
    width: 597px;
    height: 263;
}

.erreurPage {
    margin-top: 139px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 139px;
    color: #FF6060;
}

.erreurTextOops {
    font-size: 36px;
}

.erreurTextRedirection {
    font-size: 18px;
    color :#FF6060;
    text-decoration: underline
}

.homeTitle {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
    font-size: 48px;
    padding-top: 80px;
}

.banner {
    margin-top: 50px;
    position: relative;
    height: 223px;
    border-radius: 30px;
    background: url(../images/Image1.webp) center/cover;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 30px;
}

.gallery {
    height: 80vh;
    background-color: #F6F6F6;
    border-radius: 30px;
    margin-top: 43px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center; /* Alignement vertical au milieu */
    justify-items: center;
    padding: 56px 0px 56px 0px;
    grid-row-gap: 50px;
    margin-bottom: 50px;
    h2 {
        font-size: 18px;
        width: 30%;
        color: white;
        padding-left: 20px;
        font-weight: normal;
    }
}

.card {
    background-color: #FF6060;
    background: linear-gradient(#FF6060, #5c2b2b);;
    width: 70%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
}

.banner-about {
    margin-top: 50px;
    position: relative;
    height: 223px;
    border-radius: 30px;
    background: url(../images/kalen-emsley-Bkci_8qcdvQ-unsplash2.webp) center/cover;
    margin-bottom: 50px;
}

.banner-about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 30px;
}

.Collapse {
    color: #FF6060;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;


    button {
        width: 100%;
        background-color: #FF6060;
        color: white;
        height: 50px;
        font-size: 24px;
        display: flex;
        align-items: center;
        padding-left: 20px;
        border: none;
        border-radius: 5px;
        justify-content: space-between;
        padding-right: 20px;
    }
}

.Collapse-title {
    background-color: #F6F6F6;
    padding : 20px;
    font-size: 18px;
}

.Collapse-title-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}

p {
    margin: 0;
}

.collapse-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-out; /* Durée et type de transition souhaités */
  }

  .collapse-content.expanded {
    max-height: 200px; /* Réglez la hauteur maximale souhaitée lorsque le collapsible est ouvert */
  }

  .collapse-content.closed {
    transition-duration: 0.5s; /* Durée de transition plus courte pour la fermeture */
  }
  
  .collapse-arrow {
    transition: transform 0.5s ease; /* Durée et type de transition pour l'animation de rotation */
  }
  
  .collapse-arrow.rotated {
    transform: rotate(180deg); /* Rotation de 180 degrés */
  }